.desc {
    display: block;
    line-height: 38px;
    font-stretch: bold;
    font-size: 16px;
    color: blue;
}
.thead {
    color: navy;
    font-stretch: bold;
    font-size: 16px;
    vertical-align: middle;
}
.isHazard {
    background-color:orangered;
    font-stretch: bold;
    color: blue;
}
table td {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}
input {
    text-align: center;
    border: 0px;
    background-color: beige;
}
textarea:disabled, input:disabled {
    text-align: center;
    background-color: transparent;
    border: 0px;
}