<section class="definition_teaser">
    <div class="grid_layout">
        <span class="definition_pairs">
            <a [routerLink]="[ '/browse', '1' ]" routerLinkActive="active">
                <div class="definition">
                <h4 class="title">Problem One<br/>Click Me</h4>
                </div>
            </a>
            <a [routerLink]="[ '/widget' ]" routerLinkActive="active">
                <div class="definition">
                <h4 class="title">Problem Two<br/>Click Me</h4>
                </div>
            </a>
        </span>
    </div>
</section>

